html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
      width: 100%;
      background-image: url(../images/cosmic.jpg  );
      
  }

  img {
      max-width: 300px;
      max-height: 200px;
  }

  .wrapper {
    width: 80%;
    margin: 0 auto;
    background-color: black;
  }

  header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border-bottom: 1px solid cadetblue;
}
.leftheader {
    flex-basis: 40%;
    text-align: right;
    padding-right: 0.5rem;
}
.rightheader {
    flex-basis: 60%;
    margin-top: 3.75rem;
    padding-left: 0.5rem;
}

.rightheader h1{
  color: honeydew;
  font-size: 3em;
  font-family: Roboto, cursive ;
}

.rightheader p {
  margin-top: -2rem;
  color: honeydew;
  font-family: Roboto, cursive ;
}



  .main {
  background-color: #ABCCD3;
}

.about-michael {
  background-color:#ABCCD3;  
}

.mike {
  background-color:  teal;
  color: azure;
  font-family: Roboto, cursive;
  margin: 0 auto;
  text-align: center;
  width: 60%;
  margin: 0 auto;
  padding: 2rem 1rem;
  border-radius: 10px;
}

.skills{
  display: flex;
  flex-flow: row nowraps;
}

.skills-box {
  background-color: white;
  padding: 0.5rem 1rem;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell;
  text-align: center;
}

.skills-box h2 {
  color: #8F24C2;
  font-size: 2.5rem;
  font-weight: bold;
}

.skills-box ul {
 list-style-type: none;
 padding-left: 0;
}

.skills-box.left-radius {
  border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
   
}

.skills-box.right-radius {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

 .color-me {
  color: #8F24C2;
  font-weight: bolder;
  font-size: 1.5rem;
}

p {
  font-size: 20px;
}

footer {
  display: flex;
  flex-flow: column;
  text-align: center;
}

footer p {
  color: green;
  font-family: Roboto, cursive;
  margin-top: -25px;
}
footer h1 {
  color: green;
  font-family: Roboto, cursive;
}

footer li {
  display: inline-block;
  margin: 2rem;
  font-size: 2rem;
  margin-top: -25px;
}

.media ul{
  text-decoration: none;
  padding-left: 0;
}

nav ul {
  margin:  0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

nav li {
  display: inline-block;
}

nav a {
  background-color: white;
  text-decoration: none;
  color: #4f0606;
  display: block;
  padding: 0.5rem 1rem;
  font-family: Roboto, cursive;
  font-weight: bolder;
  font-size: 1.2;
}

nav a:hover {
  background-color: #4f0606;
  color: whitesmoke;
  border-radius: 10px;
}



  
  


